---
description: Detector monitors Contracts Upgrades (Proxy Contracts)
---

# Contract Verification

Detector monitors on-chain for **ProxyUpgrade** Events

Primary condition for verification success is Deployed byte-code hash match (keccak or sha256 hash)

<figure><img src="../../.gitbook/assets/image (1) (1).png" alt=""><figcaption></figcaption></figure>

Detector can try to&#x20;
